/* calendar.css */

.calendar-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.event-list-card {
  width: 30%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-list-header {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.view-all-button {
  background-color: #784bcc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.add-event-button {
  background-color: #00cccb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  font-weight: 600;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.add-event-button:hover {
  background-color: #01dada;
}

.view-all-button:hover {
  background-color: #8c61dd;
}

.event-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-item {
  padding: 15px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  margin-bottom: 9px;
  color: #000000;
  font-weight: 600;
  background-color: #f7fafc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.event-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.event-date {
  color: #4a5568;
  font-size: 0.9rem;
}

.event-venue {
  color: #4a5568;
  font-size: 0.9rem;
}

.no-events {
  color: #a0aec0;
  font-style: italic;
  text-align: center;
}

.calendar-card {
  width: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  /* Customize title color */
}

/* Specificity increased by targeting .fc-toolbar button */
.fc-toolbar .fc-button {
  background-color: #16a1b8;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.fc-toolbar .fc-button:hover {
  background-color: #fafafa;
}

.fc-toolbar .fc-button-primary {
  background-color: #fafafa;
  color: #080808;
}

.fc-toolbar .fc-button-active {
  background-color: #f1f2f6;
  color: #a41e1e;
}
